workflow_n8n_chat_local_v1_no_respond.json
{"name":"Chat local IA V1 - Sans RespondToChat","nodes":[{"parameters":{"options":{}},"id":"1","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"session_id","value":"={{ $json.sessionId || $json.chatId || $execution.id }}","type":"string"},{"id":"a2","name":"message_user","value":"={{ $json.chatInput || $json.message || $json.text || '' }}","type":"string"},{"id":"a3","name":"canal","value":"chat_local","type":"string"},{"id":"a4","name":"workflow_version","value":"v1","type":"string"},{"id":"a5","name":"default_request_type","value":"demande_generique","type":"string"}]},"options":{}},"id":"2","name":"Set Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300]},{"parameters":{"sessionKey":"={{ $json.session_id }}","tableName":"chat_memory_v1","contextWindowLength":6},"id":"3","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[700,120],"credentials":{"postgres":{"id":"REPLACE_POSTGRES_CREDENTIAL_ID","name":"Postgres local"}}},{"parameters":{"operation":"executeQuery","query":"SELECT request_type, description, required_fields, email_to, email_subject_template, response_style, confidence_threshold, extra_instructions\nFROM business_rules_v1\nWHERE is_active = true\nORDER BY priority ASC;","options":{}},"id":"4","name":"Load Business Rules","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[700,300],"credentials":{"postgres":{"id":"REPLACE_POSTGRES_CREDENTIAL_ID","name":"Postgres local"}}},{"parameters":{"promptType":"define","text":"={{ 'MESSAGE UTILISATEUR:\n' + $json.message_user + '\n\nREGLES METIER (JSON):\n' + JSON.stringify($items('Load Business Rules').map(i => i.json)) }}","hasOutputParser":false,"messages":{"messageValues":[{"message":"=Tu es un moteur d'extraction métier. Tu analyses un message utilisateur en français et tu renvoies UNIQUEMENT un JSON valide, sans markdown, sans commentaire, sans texte avant ou après.\n\nObjectif : classer la demande, extraire les informations utiles, évaluer la confiance, et dire si une clarification est nécessaire.\n\nContraintes de sortie :\n- Réponds uniquement avec un objet JSON.\n- N'invente aucune information absente du message.\n- Si une information manque, mets la valeur null.\n- Le champ score_confiance doit être un nombre entre 0 et 1.\n- Le champ needs_clarification doit être true si une donnée essentielle manque.\n- Le champ missing_fields doit être un tableau.\n- Le champ extracted_data doit être un objet JSON.\n- Le champ proposed_email_subject doit être court et orienté métier.\n- Le champ summary doit tenir en 2 phrases maximum.\n\nSchéma JSON attendu :\n{\n  \"request_type\": \"reservation|commande|ticket_support|candidature|demande_generique\",\n  \"summary\": \"...\",\n  \"score_confiance\": 0.0,\n  \"needs_clarification\": true,\n  \"missing_fields\": [\"...\"],\n  \"action_recommandee\": \"clarifier|preparer_email|creer_fiche\",\n  \"email_to\": \"...\",\n  \"proposed_email_subject\": \"...\",\n  \"extracted_data\": {\n    \"nom\": null,\n    \"email\": null,\n    \"telephone\": null,\n    \"societe\": null,\n    \"date\": null,\n    \"quantite\": null,\n    \"produit_service\": null,\n    \"message_source\": null,\n    \"details_libres\": null\n  }\n}\n\nUtilise les règles métier fournies pour choisir le type de demande, les champs requis, le destinataire email et le seuil de confiance. Si aucune règle ne correspond clairement, utilise demande_generique."}]}},"id":"5","name":"Extract Request","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[980,300]},{"parameters":{"model":"llama3.1:8b","options":{"temperature":0.2}},"id":"6","name":"Ollama Extract Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[980,120],"credentials":{"ollamaApi":{"id":"REPLACE_OLLAMA_CREDENTIAL_ID","name":"Ollama local"}}},{"parameters":{"jsCode":"const raw = $json.text || $json.response || $json.output || '';\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  parsed = {\n    request_type: 'demande_generique',\n    summary: 'Réponse IA non parseable.',\n    score_confiance: 0,\n    needs_clarification: true,\n    missing_fields: ['analyse_json'],\n    action_recommandee: 'clarifier',\n    email_to: null,\n    proposed_email_subject: 'Demande à clarifier',\n    extracted_data: {},\n    raw_llm_output: raw\n  };\n}\nreturn [{ json: { ...$input.first().json, ...parsed } }];"},"id":"7","name":"Parse Extraction JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if1","leftValue":"={{ $json.needs_clarification }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"8","name":"Need Clarification?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,300]},{"parameters":{"assignments":{"assignments":[{"id":"c1","name":"chat_response","value":"={{ 'J’ai bien compris la demande, mais il me manque encore : ' + (($json.missing_fields || []).join(', ')) + '. Peux-tu me donner ces informations pour que je prépare l'email ?' }}","type":"string"},{"id":"c2","name":"status","value":"a_preciser","type":"string"},{"id":"c3","name":"text","value":"={{ 'J’ai bien compris la demande, mais il me manque encore : ' + (($json.missing_fields || []).join(', ')) + '. Peux-tu me donner ces informations pour que je prépare l'email ?' }}","type":"string"}]},"options":{}},"id":"9","name":"Build Clarification Answer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1710,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO requests_log_v1 (session_id, canal, message_user, request_type, summary, score_confiance, needs_clarification, missing_fields, extracted_data, action_recommandee, email_to, proposed_email_subject, status)\nVALUES (\n  '{{ $json.session_id }}',\n  '{{ $json.canal }}',\n  '{{ ($json.message_user || '').replace(/'/g, \"''\") }}',\n  '{{ $json.request_type || 'demande_generique' }}',\n  '{{ ($json.summary || '').replace(/'/g, \"''\") }}',\n  {{ $json.score_confiance || 0 }},\n  {{ $json.needs_clarification ? 'true' : 'false' }},\n  '{{ JSON.stringify($json.missing_fields || []).replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.extracted_data || {}).replace(/'/g, \"''\") }}',\n  '{{ $json.action_recommandee || 'clarifier' }}',\n  {{ $json.email_to ? ''' + $json.email_to.replace(/'/g, \"''\") + ''' : 'NULL' }},\n  '{{ ($json.proposed_email_subject || 'Demande à clarifier').replace(/'/g, \"''\") }}',\n  '{{ $json.status || 'a_preciser' }}'\n);","options":{}},"id":"10","name":"Log Clarification","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1950,200],"credentials":{"postgres":{"id":"REPLACE_POSTGRES_CREDENTIAL_ID","name":"Postgres local"}}},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"status","value":"pret_email","type":"string"},{"id":"s2","name":"email_subject","value":"={{ $json.proposed_email_subject || 'Nouvelle demande client' }}","type":"string"}]},"options":{}},"id":"12","name":"Prepare Success Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1710,400]},{"parameters":{"promptType":"define","text":"={{ 'DONNEES EXTRAITES (JSON):\n' + JSON.stringify($json, null, 2) }}","hasOutputParser":false,"messages":{"messageValues":[{"message":"=Tu es un assistant de rédaction métier. Tu dois rédiger un email professionnel court en français à partir des données extraites.\n\nContraintes :\n- Rédige un email clair, humain et concret.\n- Va droit au but.\n- 120 mots maximum.\n- Ne fais aucune invention si une donnée manque.\n- Si une information manque encore, formule-la comme une demande de précision polie.\n- Le ton doit être professionnel, simple et rassurant.\n- Ne mets pas d'explication sur ton fonctionnement.\n- Retourne uniquement le texte de l'email, sans balises markdown.\n\nStructure attendue :\n- Objet implicite déjà géré ailleurs, donc ne mets pas de ligne Objet:\n- Salutation courte\n- 2 à 5 phrases utiles\n- Formule de fin courte\n\nSi la demande concerne une réservation, une commande ou un ticket, reformule le besoin de manière concrète. Si la demande n'est pas totalement exploitable, demande seulement les informations manquantes indispensables."}]}},"id":"13","name":"Generate Email Body","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1950,400]},{"parameters":{"model":"llama3.1:8b","options":{"temperature":0.4}},"id":"14","name":"Ollama Email Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1950,520],"credentials":{"ollamaApi":{"id":"REPLACE_OLLAMA_CREDENTIAL_ID","name":"Ollama local"}}},{"parameters":{"jsCode":"const emailBody = $json.text || $json.response || $json.output || '';\nreturn [{ json: { ...$input.first().json, email_body: emailBody, text: 'Demande comprise. Email préparé et envoyé à ' + ($input.first().json.email_to || 'l'adresse de test') + '. Objet : ' + (($input.first().json.email_subject) || 'Nouvelle demande client') } }];"},"id":"15","name":"Finalize Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2190,400]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO requests_log_v1 (session_id, canal, message_user, request_type, summary, score_confiance, needs_clarification, missing_fields, extracted_data, action_recommandee, email_to, proposed_email_subject, generated_email_body, status)\nVALUES (\n  '{{ $json.session_id }}',\n  '{{ $json.canal }}',\n  '{{ ($json.message_user || '').replace(/'/g, \"''\") }}',\n  '{{ $json.request_type || 'demande_generique' }}',\n  '{{ ($json.summary || '').replace(/'/g, \"''\") }}',\n  {{ $json.score_confiance || 0 }},\n  {{ $json.needs_clarification ? 'true' : 'false' }},\n  '{{ JSON.stringify($json.missing_fields || []).replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.extracted_data || {}).replace(/'/g, \"''\") }}',\n  '{{ $json.action_recommandee || 'preparer_email' }}',\n  {{ $json.email_to ? ''' + $json.email_to.replace(/'/g, \"''\") + ''' : 'NULL' }},\n  '{{ ($json.email_subject || 'Nouvelle demande client').replace(/'/g, \"''\") }}',\n  '{{ ($json.email_body || '').replace(/'/g, \"''\") }}',\n  '{{ $json.status || 'pret_email' }}'\n);","options":{}},"id":"16","name":"Log Ready Email","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2430,400],"credentials":{"postgres":{"id":"REPLACE_POSTGRES_CREDENTIAL_ID","name":"Postgres local"}}},{"parameters":{"sendTo":"={{ $json.email_to || 'ton-adresse-test@exemple.fr' }}","subject":"={{ $json.email_subject }}","emailType":"text","message":"={{ $json.email_body }}","options":{}},"id":"17","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2670,400],"credentials":{"smtp":{"id":"REPLACE_SMTP_CREDENTIAL_ID","name":"SMTP local ou Gmail SMTP"}}},{"parameters":{"assignments":{"assignments":[{"id":"fc1","name":"text","value":"={{ $json.chat_response }}","type":"string"}]},"options":{}},"id":"19","name":"Final Clarification Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2420,200]}],"connections":{"Chat Trigger":{"main":[[{"node":"Set Context","type":"main","index":0}]]},"Set Context":{"main":[[{"node":"Load Business Rules","type":"main","index":0},{"node":"Extract Request","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Extract Request","type":"ai_memory","index":0}]]},"Load Business Rules":{"main":[[{"node":"Extract Request","type":"main","index":0}]]},"Ollama Extract Model":{"ai_languageModel":[[{"node":"Extract Request","type":"ai_languageModel","index":0}]]},"Extract Request":{"main":[[{"node":"Parse Extraction JSON","type":"main","index":0}]]},"Parse Extraction JSON":{"main":[[{"node":"Need Clarification?","type":"main","index":0}]]},"Need Clarification?":{"main":[[{"node":"Build Clarification Answer","type":"main","index":0}],[{"node":"Prepare Success Context","type":"main","index":0}]]},"Build Clarification Answer":{"main":[[{"node":"Log Clarification","type":"main","index":0}]]},"Log Clarification":{"main":[[{"node":"Final Clarification Response","type":"main","index":0}]]},"Prepare Success Context":{"main":[[{"node":"Generate Email Body","type":"main","index":0}]]},"Ollama Email Model":{"ai_languageModel":[[{"node":"Generate Email Body","type":"ai_languageModel","index":0}]]},"Generate Email Body":{"main":[[{"node":"Finalize Success Response","type":"main","index":0}]]},"Log Ready Email":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[]},"Finalize Success Response":{"main":[[{"node":"Log Ready Email","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"chat-local-v1","meta":{"templateCredsSetupCompleted":false,"description":"Workflow V1 chat local avec Ollama, mémoire Postgres, règles métier et envoi d'email."},"tags":[]}